:root {
    --cor1: #222222;
    --cor2: #e54;
    --cor3: #fb5;
    
    font-size: 62.5%; /* 1rem == 10px */
}

.cor1 {
    color: var(--cor1);
}

.cor2 {
    color: var(--cor2);
}

/* ############### RESET STYLE BODY ############## */
* {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}

/* ############### STYLE ############## */
body {
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    color: var(--cor1);
    background-color: #faf6ed;

    
    display: grid;
    grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

body::-webkit-scrollbar {
    width: 1.8rem;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--cor3);
    border: 0.3rem solid #faf6ed;
}

body::-webkit-scrollbar-track {
    background-color: #faf6ed;
}

.grid-section {
    width: 100%;
    display: grid;
    grid-template-columns: 90px 300px 1fr;
    gap: 2rem;
    box-sizing: border-box;
    padding: 2rem;
}

.titulo {
    font-family: 'Playfair Display SC', georgia;
    font-weight: 300;
    line-height: 10rem;
    font-size: 10rem;
    margin-bottom: 3.2rem;
    grid-column: 1/-1;
}

h2,
.font-menu,
dt {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 2.4rem;
}

h2::before,
dt::before {
    content: '';
    display: inline-block;
    width: 4rem;
    height: 1rem;
    background-color: var(--cor3);
    margin-right: 0.8rem;
}

p,
dd {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 2rem;
}

img {
    display: block;
    max-width: 100%;
}

/* ################ HEADER MENU ################ */
.menu {
    padding-top: 2.8rem;
    padding-bottom: 2.8rem;

    grid-column: 3/-1;
}

.menu-itens {
    list-style: none;
    text-decoration: none;
    background-color: var(--cor3);
}

.menu a {
    color: var(--cor1);
    text-decoration: none;
    padding: 1.8rem 1.5rem;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
}


/* ################ ANIMAIS ################ */
.animais {
    grid-column: 2 / 4;
    margin-bottom: 6rem;
}

.grid-section .animais-galeria {
    grid-column: 2;
}

.animais-galeria {
    max-height: 37rem;
    overflow-y: scroll;
}

/* estilo do scroll */
.grid-section .animais-galeria::-webkit-scrollbar {
    width: 1.8rem;
}

.grid-section .animais-galeria::-webkit-scrollbar-thumb {
    background-color: var(--cor3);
    border-left: 6px solid #faf6ed;
}

.grid-section .animais-galeria::-webkit-scrollbar-track {
    background: #faf6ed;
}


.grid-section .animais-info {
    grid-column: 3;
}

.grid-section .animais-info div {
    margin-bottom: 4rem;
}

/* ################ FAQ ################ */

.faq {
    grid-column: 2 / 4;
}

.faq-info {
    grid-column: 2 / -1;
}

/* ################ CONTATO ################ */
.contato {
    grid-column: 2 / 4;
}

.grid-section .contato-mapa {
    grid-column: 2;
}

.contato li p {
    margin-bottom: 2rem;
    
    font-family: Helvetica, Arial, sans-serif;
    line-height: 2rem;
    margin-bottom: 1rem;
}

.contato li p::before {
    content: '';
    display: inline-block;
    width: 4rem;
    height: 1rem;
    background-color: var(--cor3);
    margin-right: 0.8rem;
}

/* ################ RODAPÉ ################ */

.rodape {
    grid-column: 3 / 5;

    background: var(--cor3);
    padding: 2rem;
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
}

.rodape p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
}

@media (max-width: 700px) {
    body {
        grid-template-columns: 1fr;
    }

    .menu, .animais, .faq, .contato, .rodape {
        grid-column: 1;
    }

    .grid-section {
        grid-template-columns: 1fr;
    }
    .grid-section .animais-galeria,
    .grid-section .animais-info,
    .grid-section .faq-info,
    .grid-section .contato-mapa {
        grid-column: 1;
    }

    .titulo {
        font-size: 5rem;
        line-height: 5rem;
    }

    .contato-mapa img {
        max-width: 100%;
    }

    .menu {
        padding-top: 0;
    }

    .rodape {
        margin-bottom: 0;
    }
}
