.contato {
    grid-column: 2 / 4;
}

.grid-section .contato-mapa {
    grid-column: 2;
}

.contato li p {
    margin-bottom: 2rem;
    
    font-family: Helvetica, Arial, sans-serif;
    line-height: 2rem;
    margin-bottom: 1rem;
}

.contato li p::before {
    content: '';
    display: inline-block;
    width: 4rem;
    height: 1rem;
    background-color: var(--cor3);
    margin-right: 0.8rem;
}

[data-dias]::after {
    content: "";
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    background-color: red;
    border-radius: 50%;
    border: 2px solid var(--cor1);
    margin-left: 0.8rem;
}

[data-dias].aberto::after {
    background-color: rgb(47, 255, 82);
}

@media screen and (max-width: 700px) {
    .contato {
        grid-column: 1;
    }
    
    .grid-section .contato-mapa {
        grid-column: 1;
    }
}