.rodape {
    grid-column: 3 / 5;

    background: var(--cor3);
    padding: 2rem;
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
}

.rodape p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
}

@media screen and (max-width: 700px) {
    .rodape {
        grid-column: 1;
    }
}