.menu {
    /* display: flex; */
    margin-top: 2.8rem;
    margin-bottom: 2.8rem;

    grid-column: 3/-1;
    position: relative;
    background-color: var(--cor3);
}

.menu-itens {
    list-style: none;
    text-decoration: none;
}

.menu a {
    color: var(--cor1);
    text-decoration: none;
    padding: 1.8rem 1.5rem;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
}

[data-menu="button"] {
    display: none;
}

/* ############### MENU MOBILE ############### */

@media screen and (max-width:700px) {
    .menu {
        grid-column: 1/-1;
        margin-top: 0rem;
        margin-bottom: 0rem;
        padding: 2rem;
    }

    .menu > ul {
        padding-top: 10rem;
    }

    .menu > ul > li {
        padding-block: 0.8rem;
    }

    [data-menu="button"] {
        display: block;
        padding: 1rem 2rem;
        border: none;
        border-radius: 0.5rem;
        background-color: var(--cor1);
        color: white;

        display: flex;
        align-items: center;

        font-family: 'IBM Plex Mono', monospace;
        font-size: 1.2rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.2rem;

        position: relative;
        z-index: 50;
    }
    
    [data-menu="button"]::before {
        content: '';
        display: inline-block;
        width: 1.2rem;
        height: 0.2rem;
        background-color: white;
        box-shadow: 0 4px 0 white, 0 -4px 0 white;
        margin-right: 0.8rem;
    }

    [data-menu="items"] {
        width: 16rem;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--cor3);
        z-index: 40;
        box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    }

    .menu-dropdown{
        position: static;
    }

    #menu {
        display: none;
    }

    #menu.active {
        display: block;
    }



}