.numeros {
    grid-column: 2/4;
}

.grid-numeros {
    grid-column: 2/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
}

.card-animal h3 {
    font-family: 'Playfair Display SC', georgia;
    font-weight: 300;
    line-height: 10rem;
    font-size: 4rem;
    color: var(--cor1);
}

.card-animal span {
    font-family: 'Playfair Display SC', georgia;
    font-weight: 300;
    line-height: 6rem;
    font-size: 6rem;
    color: var(--cor2);
}