[data-dropdown] {
    position: relative;
}

[data-dropdown] .menu-dropdown{
    display: none;
}

[data-dropdown]:hover .menu-dropdown,
[data-dropdown].menu-active .menu-dropdown{
    display: block;
    animation: fade-down .2s forwards;

}

.menu-dropdown {
    position: absolute;
    z-index: 30;
    top: 3rem;

    background: var(--cor2);
    box-shadow: 0 0 0 2px var(--cor1);

}

.menu-dropdown li a {
    display: inline-block ;
    margin-bottom: initial;
    padding: 0.8rem 0.5rem;
}

.menu-dropdown a:hover {
    color: white;
}

.menu-dropdown::before {
    content: "";
    display: block;
    position: absolute;
    top: -10px;

    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--cor2);
}

@media screen and (max-width: 700px) {
    .menu-dropdown {
        position: static;
        border: none;
        margin-top: 1rem;
    }
}